#  CONFIGURATION FOLDERS
/*/config/*
/*/watch/*
/*/logs/*

# DIRECTORY PLACEHOLDERS
!.gitkeep

# SENSITIVE FILES
.env
.htpasswd
.env_former
.env_local
.env_prod
shared/keys/cert.*

# UNWANTED FILES
__pycache__/*
*/__pycache__/*
.DS_Store
.idea/*

# NGINX FILES
shared/nginx/proxy-confs/*.sample
