#  CONFIGURATION FOLDERS
/*/config/*
/*/watch/*
/*/logs/*

# DIRECTORY PLACEHOLDERS
!.gitkeep

# SENSITIVE FILES
.env

# UNWANTED FILES
__pycache__/*
*/__pycache__/*
.DS_Store
.idea/*

# UNREADY CONTAINERS
