# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE FILES
.idea/*

# MEDIA CENTER FILES
plex/config/*
tautulli/config/*
sonarr/config/*
radarr/config/*
ombi/config/*
transmission/config/*
jackett/config/*